# Import Data 
from Dask-Batches and save it as Dataframe

In [2]:
import pandas as pd
import os

In [3]:
# Please change this data_path with your path of data per yer

data_path = "../../../impresso-semantic-enrichment-deployment/na_mentions_2024_nel/newspapers_newsagencies_fall_2024/"
# data_path = "../../../impresso-semantic-enrichment-deployment/temp_downloads/newspapers"
data_folders = sorted([folder for folder in os.listdir(data_path)])
output_path = "data/"

In [4]:
len(data_folders)

134

## Test for Folder 0

In [4]:
# import bz2, json
# list00 = []
# for folder in data_folders[:1]:
#     files = [file for file in os.listdir(os.path.join(data_path, folder))]
#     print(files)

#     for file in files:
#         try:
#             file_path = os.path.join(data_path, folder, file)
#             # df = pd.read_json(os.path.join(data_path, folder, file))

#             records = []
#             with bz2.open(file_path, "rt") as f:
#                 for line in f:
#                     record = json.loads(line)
#                     records.append(record)
                    
#             df = pd.DataFrame(records)
            
#             print(len(df))
#             list00.append(df)
#         except Exception as ex:
#             print(file, ex)

## Importing Everything

In [6]:
from tqdm import tqdm
import bz2, json

list_all = []

for folder in tqdm(data_folders, total=len(data_folders), desc="Folders"):
    files = [file for file in os.listdir(os.path.join(data_path, folder))]
    
    # print(f"Number of files contained in folder {folder}:", len(files))

    # for file in tqdm(files, total=len(files), desc=f"Processing files in {folder}", leave=False):
    for file in files:
        file_path = os.path.join(data_path, folder, file)
        records = []
        with bz2.open(file_path, "rt") as f:
            for line in f:
                record = json.loads(line)
                records.append(record)
                
        df = pd.DataFrame(records)
        list_all.append(df)

Folders: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 134/134 [05:11<00:00,  2.32s/it]

In [7]:
list_all[0]

,id,ts,sys_id,nes
0,ACI-1832-01-01-a-i0125,2024-08-14T09:08:18Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
1,ACI-1832-01-01-a-i0126,2024-08-14T09:08:22Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
2,ACI-1832-01-01-a-i0127,2024-08-14T09:08:25Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
3,ACI-1832-01-01-a-i0128,2024-08-14T09:08:28Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
4,ACI-1832-01-01-a-i0129,2024-08-14T09:08:32Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
...,...,...,...,...
137,ACI-1832-01-01-a-i0014,2024-08-14T09:07:49Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
138,ACI-1832-01-01-a-i0015,2024-08-14T09:07:50Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
139,ACI-1832-01-01-a-i0016,2024-08-14T09:07:52Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
140,ACI-1832-01-01-a-i0017,2024-08-14T09:07:55Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
141,ACI-1832-01-01-a-i0018,2024-08-14T09:07:57Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]

In [8]:
mentions_all = pd.concat(tqdm(list_all, desc="Concatenating DataFrames"), axis=0, ignore_index=True)

# Display the first 14 rows of the resulting DataFrame
mentions_all.head(14)

Concatenating DataFrames: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3711/3711 [00:00<00:00, 2032788.58it/s]

,id,ts,sys_id,nes
0,ACI-1832-01-01-a-i0125,2024-08-14T09:08:18Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
1,ACI-1832-01-01-a-i0126,2024-08-14T09:08:22Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
2,ACI-1832-01-01-a-i0127,2024-08-14T09:08:25Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
3,ACI-1832-01-01-a-i0128,2024-08-14T09:08:28Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
4,ACI-1832-01-01-a-i0129,2024-08-14T09:08:32Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
5,ACI-1832-01-01-a-i0130,2024-08-14T09:08:35Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
6,ACI-1832-01-01-a-i0131,2024-08-14T09:08:38Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
7,ACI-1832-01-01-a-i0076,2024-08-14T09:07:56Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
8,ACI-1832-01-01-a-i0077,2024-08-14T09:07:57Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
9,ACI-1832-01-01-a-i0078,2024-08-14T09:08:00Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
10,ACI-1832-01-01-a-i0079,2024-08-14T09:08:03Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
11,ACI-1832-01-01-a-i0080,2024-08-14T09:08:05Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
12,ACI-1832-01-01-a-i0081,2024-08-14T09:08:07Z,dbmdz_bert_base_historic_multilingual_de_and_fr,[]
13,ACI-1832-01-01-a-i0082,2024-08-14T09:08:11Z,dbmdz_bert_base_historic_multilingual_de_and_fr,"[{'type': 'org.ent.pressagency.unk', 'surface'..."

In [9]:
len(mentions_all)

24443413

In [ ]:
len(mentions_all)

In [15]:
len(mentions_all)

20392431

In [49]:
len(mentions_all)

4886739

In [16]:
mentions_all.iloc[13]['nes']

[{'type': 'org.ent.pressagency.unk',
  'surface': '-J.',
  'qid': 'NIL',
  'lOffset': 150,
  'rOffset': 153,
  'id': '150:153:org.ent.pressagency.unk:dbmdz_bert_base_historic_multilingual_de_and_fr',
  'wkd_id': 'NIL',
  'wkpedia_pagename': 'NIL',
  'confidence_ner': 98.89,
  'confidence_nel': 100.0},
 {'type': 'org.ent.pressagency.unk',
  'surface': '-J.',
  'qid': 'NIL',
  'lOffset': 654,
  'rOffset': 657,
  'id': '654:657:org.ent.pressagency.unk:dbmdz_bert_base_historic_multilingual_de_and_fr',
  'wkd_id': 'NIL',
  'wkpedia_pagename': 'NIL',
  'confidence_ner': 93.47,
  'confidence_nel': 100.0}]

In [ ]:
import pandas as pd

# Function to extract details from the 'nes' list
def extract_nes_info(nes, id_str):
    parts = id_str.split('-')
    newspaper = parts[0]
    date_str = f"{parts[1]}-{parts[2]}-{parts[3]}"
    
    extracted_data = []
    for entry in nes:
        extracted_data.append({
            'entity': entry.get('type', ''),
            'surface': entry.get('surface', ''),
            'qid': entry.get('qid', ''),
            'lSentenceOffset': entry.get('lOffset', ''),
            'rSentenceOffset': entry.get('rOffset', ''),
            'sentence_idx': '',  # Assume this needs to be calculated or provided
            'lArticleOffset': entry.get('lOffset', ''),
            'rArticleOffset': entry.get('rOffset', ''),
            'id': entry.get('id', ''),
            'article': id_str,
            'newspaper': newspaper,
            'date': date_str,
            'year': pd.to_datetime(date_str).year,
            'decade': (pd.to_datetime(date_str).year // 10) * 10,
            'agency': entry.get('type', '').split('.')[-1],
            'language': 'unknown',  # Assuming language is not given
            'country': 'unknown'    # Assuming country is not given
        })
    return extracted_data

# Initialize an empty list to collect all the processed data
all_extracted_data = []

from tqdm import tqdm
# Process each row one by one
for index, row in tqdm(mentions_all.iterrows(), total=len(mentions_all)):
    nes_info = extract_nes_info(row['nes'], row['id'])
    all_extracted_data.extend(nes_info)

# Create the new DataFrame from the extracted data
new_df = pd.DataFrame(all_extracted_data)

new_df.head()

  2%|████▍                                                                                                                                                                                         | 569336/24443413 [04:58<7:22:05, 900.04it/s]

In [10]:
len(new_df)

6692454

In [11]:
len(new_df)

6692454

In [12]:
output_path

'data/'

In [13]:
pd.to_pickle(new_df, output_path + "mentions.pkl")

In [14]:
articles = new_df.groupby(['article']).agg({
    'agency': list,
    'surface': list,
    'id': list,
    'qid': list,
    'language': 'first',
    'newspaper': 'first',
    'country': 'first',
    'year': 'first',
    'decade': 'first',
}).reset_index()

In [15]:
os.makedirs(output_path, exist_ok=True)
pd.to_pickle(articles, output_path + "article.pkl")

In [ ]:
len(articles), len(new_df)

In [6]:


# #dropping articleauthor
# len_before = len(mentions_all)
# mentions_all = mentions_all[mentions_all['entity'] != "pers.ind.articleauthor"]
# print(f"Dropped {len_before - len(mentions_all)} rows which contain pers.ind.articleauthor mention")

# #infer new columns
# mentions_all['split_id'] = mentions_all['id'].str.split("-")
# mentions_all['article'] = mentions_all['id'].apply(lambda x: x.split(":")[0])
# mentions_all['newspaper'] = mentions_all['split_id'].apply(lambda x: x[0])
# mentions_all['date'] = mentions_all['split_id'].apply(lambda x: "-".join(x[1:4]))
# mentions_all['year'] = mentions_all['split_id'].apply(lambda x: x[1]).astype(int)
# mentions_all['decade'] = mentions_all['year'] // 10 * 10
# mentions_all['agency'] = mentions_all['entity'].str.replace("org.ent.pressagency.", "", regex=False)
# mentions_all['language'] = mentions_all['id'].apply(lambda x: x[-2:])
# #newspapers from Switzerland are uppercase, from Luxembourg lowercase
# mentions_all['country'] = ["CH" if entry.isupper() else "LU" for entry in mentions_all['newspaper']]
# #correct typo
# #mentions_all['agency'] = mentions_all['agency'].str.replace("ATB", "ATS", regex=False)
# mentions_all = mentions_all.drop(columns='split_id')

Number of files contained in folder 00: 100
Number of files contained in folder 01: 100
Number of files contained in folder 02: 100
Number of files contained in folder 03: 100
Number of files contained in folder 04: 100
Number of files contained in folder 05: 100
Number of files contained in folder 06: 100
Number of files contained in folder 07: 100
Number of files contained in folder 08: 100
Number of files contained in folder 09: 100
Number of files contained in folder 10: 100
Number of files contained in folder 11: 100
Number of files contained in folder 12: 100
Number of files contained in folder 13: 100
Number of files contained in folder 14: 100
Number of files contained in folder 15: 100
Number of files contained in folder 16: 100
Number of files contained in folder 17: 100
Number of files contained in folder 18: 100
Number of files contained in folder 19: 100
Number of files contained in folder 20: 100
Dropped 237520 rows which contain pers.ind.articleauthor mention

In [7]:
mentions_all.head()

,entity,surface,qid,lSentenceOffset,rSentenceOffset,sentence_idx:,lArticleOffset,rArticleOffset,id,article,newspaper,date,year,decade,agency,language,country
0,org.ent.pressagency.Havas,Havas,Q2826560,30,35,1,84,89,LLE-1939-11-27-a-i0076:1:30:35:84:89:newsag:be...,LLE-1939-11-27-a-i0076,LLE,1939-11-27,1939,1930,Havas,fr,CH
1,org.ent.pressagency.UP-UPI,United Press,Q493845,2,14,7,595,607,LLE-1939-11-27-a-i0076:7:2:14:595:607:newsag:b...,LLE-1939-11-27-a-i0076,LLE,1939-11-27,1939,1930,UP-UPI,fr,CH
2,org.ent.pressagency.UP-UPI,United Press,Q493845,0,12,10,1364,1376,LLE-1939-11-27-a-i0076:10:0:12:1364:1376:newsa...,LLE-1939-11-27-a-i0076,LLE,1939-11-27,1939,1930,UP-UPI,fr,CH
3,org.ent.pressagency.UP-UPI,United Press,Q493845,2,14,16,2181,2193,LLE-1939-11-27-a-i0076:16:2:14:2181:2193:newsa...,LLE-1939-11-27-a-i0076,LLE,1939-11-27,1939,1930,UP-UPI,fr,CH
4,org.ent.pressagency.UP-UPI,Press,Q493845,48,53,18,2531,2536,LLE-1939-11-27-a-i0076:18:48:53:2531:2536:news...,LLE-1939-11-27-a-i0076,LLE,1939-11-27,1939,1930,UP-UPI,fr,CH

In [8]:
# print(f"Languages in corpus: {mentions_all['language'].unique()}")
# mentions_fr = mentions_all[mentions_all['language']=="fr"]
# mentions_de = mentions_all[mentions_all['language']=="de"]

Languages in corpus: ['fr' 'de']

In [9]:
# articles = mentions_all.groupby(['article']).agg({
#     'agency': list,
#     'surface': list,
#     'id': list,
#     'sentence_idx:': list,
#     'language': 'first',
#     'newspaper': 'first',
#     'country': 'first',
#     'year': 'first',
#     'decade': 'first',
# }).reset_index()

# articles_fr = articles[articles['language']=="fr"]
# articles_de = articles[articles['language']=="de"]

In [10]:
articles.head()

,article,agency,surface,id,sentence_idx:,language,newspaper,country,year,decade
0,BLB-1846-03-28-a-i0002,[Reuters],[Reuel],[BLB-1846-03-28-a-i0002:88:0:5:13580:13585:new...,[88],de,BLB,CH,1846,1840
1,BLB-1846-10-10-a-i0003,[Havas],[Saas],[BLB-1846-10-10-a-i0003:49:0:4:6901:6905:newsa...,[49],de,BLB,CH,1846,1840
2,BLB-1847-02-13-a-i0001,[unk],[pp],[BLB-1847-02-13-a-i0001:168:0:2:13072:13074:ne...,[168],de,BLB,CH,1847,1840
3,BLB-1847-05-22-a-i0003,[SPK-SMP],[sp],[BLB-1847-05-22-a-i0003:37:0:2:2653:2655:newsa...,[37],de,BLB,CH,1847,1840
4,BLB-1847-07-03-a-i0001,[SPK-SMP],[resp],[BLB-1847-07-03-a-i0001:11:40:44:3285:3289:new...,[11],de,BLB,CH,1847,1840

## Save Data

In [11]:
# pd.to_pickle(articles_fr, output_path + "articles_fr.pkl")
# pd.to_pickle(articles_de, output_path + "articles_de.pkl")
# pd.to_pickle(mentions_fr, output_path + "mentions_fr.pkl")
# pd.to_pickle(mentions_de, output_path + "mentions_de.pkl")